<section id="devise" class="edit register common">
  <div class="title">
    <div></div>
    <h1>Modifier le profil</h1>
    <%= link_to "", root_path, class: "close" %>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="top">
          <div class="left input file">
            <%= f.label :avatar, "Ajouter une photo" do %>
              <%= image_tag current_user.avatar.url(:medium) %>
              <%= f.file_field :avatar, autocomplete: "off", class: "file-field" %>
              <span>Ajouter une photo</span>
            <% end %>
          </div>
          <div class="right">
            <%= f.text_field :firstname, autocomplete: "off", placeholder: "Prénom", autofocus: true, class: "input simple" %>
            <%= f.text_field :lastname, autocomplete: "off", placeholder: "Nom", class: "input simple" %>
          </div>
        </div>
        <div class="bottom">
          <%= f.email_field :email, placeholder: "Adresse mail", placeholder: "Adresse email", class: "input simple" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe (6 caractères minimum)", class: "input simple" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation du mot de passe", class: "input simple" %>
          <div class="about">
            <h4>à propos de moi</h4>
            <div class="region">
              <div class="select">
                <%= country_select("user", "country", priority_countries: ["FR", "GB", "ES", "US"]) %>
                <span class="select-icon"></span>
              </div>
              <%= f.text_field :region, class: "input simple", placeholder: "Région" %>
            </div>
            <%= f.text_area :bio, class: "input simple", placeholder: "Biographie" %>
          </div>
          <div class="issues">
            <h4>Mes problématiques</h4>
            <ul>
              <% current_user.issues.each do |issue| %>
                <li><%= link_to issue.label, issue_path(issue) %></li>
              <% end %>
            </ul>
          </div>
        </div>

        <%= f.submit "Modifier le profil", class: "btn btn-default" %>
    <% end %>
  </div>
</section>
