<section id="devise" class="register common">
  <div class="title">
    <div></div>
    <h1>Inscription</h1>
    <%= link_to "", root_path, class: "close" %>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="top">
          <div class="left input file">
            <%= f.label :avatar, "Ajouter une photo" do %>
              <img src="http://placehold.it/200x200" alt="" id="image-preview">
              <%= f.file_field :avatar, autocomplete: "off", class: "file-field" %>
              <span>Ajouter une photo</span>
            <% end %>
          </div>
          <div class="right">
            <%= f.text_field :firstname, autocomplete: "off", placeholder: "Prénom", autofocus: true, class: "input simple" %>
            <%= f.text_field :lastname, autocomplete: "off", placeholder: "Nom", class: "input simple" %>
          </div>
        </div>
        <div class="bottom">
          <%= f.email_field :email, placeholder: "Adresse mail", placeholder: "Adresse email", class: "input simple" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe (6 caractères minimum)", class: "input simple" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation du mot de passe", class: "input simple" %>
        </div>

        <%= f.submit "Inscription", class: "btn btn-default" %>
    <% end %>
  </div>
</section>
