<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :label, class: "input simple", placeholder: "Intitulé de la problématique" %>
    <%= f.text_area :description, class: "input simple", placeholder: "Réponse à la problématique" %>
    <%= f.select :wikis, Wiki.all.collect {|wiki| [wiki.undefined, wiki.id]}, {:selected => @wiki_ids}, :multiple => true, style: "display:block;width:100%;" %>

    <% if current_page?(edit_issue_path) %>
      <%= f.submit 'Modifier la problématique', class: "btn btn-default" %>
    <% elsif current_page?(new_issue_path) %>
      <%= f.submit 'Ajouter la problématique', class: "btn btn-default" %>
    <% end %>

<% end %>
