<section id="issues" class="index">
  <h3>problématiques</h3>
  <% @issues.each do |issue| %>
  <div id="card">
    <h4><%= issue.label %></h4>
    <p><%= issue.description %></p>
    <div class="more">
      <%= link_to 'En savoir plus', edit_issue_path(issue), class: "btn btn-default" %>
    </div>
    <div class="issues">
      <span class="comment"></span><%= issue.comments.count %>
      <span class="heart"></span><%= issue.likes.count %>
    </div>
  </div>
  <% end %>
</section>
