<section id="issues" class="show">
  <%= link_to '', issues_path, class: "close" %>

  <% if user_signed_in? %>
    <% if @issue.likes?(current_user) %>
      <%= form_tag(action: "unlike", method: "post") do %>
        <div class="btn-like liked" id="like-button">
          <%= submit_tag "Je n'aime plus", id: "like-submit", name: "like-submit" %>
          <label for="like-submit" class="ico"></label>
        </div>
      <% end %>
    <% else %>
      <%= form_tag(action: "like", method: "post") do %>
        <div class="btn-like" id="like-button">
          <%= submit_tag "J'aime", id: "like-submit", name: "like-submit" %>
          <label for="like-submit" class="ico"></label>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h1><%= @issue.label %></h1>
  <div class="informations">
    <ul>
      <li><em>Date : </em><%= @issue.created_at.strftime("%d %B %Y") %></li>
      <li><em>Auteur : </em><%= @issue.user.firstname %> <%= @issue.user.lastname %></li>
      <li class="icons"><span class="comment"></span><em><%= @issue.comments.count %></em></li>
      <li class="icons"><span class="heart"></span><em id="like-counter"><%= @issue.likes.count %></em></li>
    </ul>
  </div>
  <div class="answer">
    <h3>Réponse utilisateur</h3>
    <%= @issue.description %>
  </div>
  <div class="wikis">
    <% @issue.wikis.each do |wiki| %>
      <%= link_to wiki.undefined, wiki_letter_path(wiki.undefined.first) %>
    <% end %>
  </div>
  <h3>Commentaires</h3>
  <div id="comments">
    <% @issue.comments.each do |comment| %>
    <div class="comment">
      <div class="details">
        <%= image_tag comment.user.avatar.url(:medium) %>
        <div class="name-date">
          <span><%= comment.user.firstname %> <%= comment.user.lastname %></span>
          <span><%= comment.created_at.strftime("%d %B %Y") %></span>
        </div>
      </div>
      <p><%= comment.text %></p>
    </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="form">
      <div class="details">
        <%= image_tag current_user.avatar.url(:medium) %>
        <div class="name-date">
          <span><%= current_user.firstname %> <%= current_user.lastname %></span>
          <span><%= Date.today.strftime("%d %B %Y") %></span>
        </div>
      </div>
      <%= render "comments/form", :comment => @comment %>
    </div>
    <% end %>
  </div>
</section>
