<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @issue.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @issue.tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @issue.likes.count %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
