<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @issue.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @issue.tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @issue.user %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @issue.likes.count %>
  <%= @issue.likes?(current_user) %>
  <br>
  <%= form_tag(action: "like", method: "post") do %>
    <%= submit_tag("Like") %>
  <% end %>
  <%= form_tag(action: "unlike", method: "post") do %>
    <%= submit_tag("Unlike") %>
  <% end %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
