<section id="issues" class="show">
  <%= link_to '', issues_path, class: "close" %>
  <h1><%= @issue.label %></h1>
  <div class="informations">
    <ul>
      <li><em>Date : </em><%= @issue.created_at %></li>
      <li><em>Auteur : </em><%= @issue.user.firstname %> <%= @issue.user.lastname %></li>

      <%= @issue.likes?(current_user) if user_signed_in? %>
      <br>
      <%= form_tag(action: "like", method: "post") do %>
        <%= submit_tag("Like") %>
      <% end %>
      <%= form_tag(action: "unlike", method: "post") do %>
        <%= submit_tag("Unlike") %>
      <% end %>


      <li class="icons"><span class="heart"></span><em><%= @issue.likes.count %></em></li>
    </ul>
  </div>
  <div class="answer">
    <h3>Réponse utilisateur</h3>
    <%= @issue.description %>
  </div>
  <div class="wikis">
    <% @issue.wikis.each do |wiki| %>
      <a href="#"><%= wiki.undefined %></a>
    <% end %>
  </div>
  <h3>Commentaires</h3>
  <div id="comments">
    <% @issue.comments.each do |comment| %>
    <div class="comment">
      <div class="details">
        <%= image_tag comment.user.avatar.url(:medium) %>
        <div class="name-date">
          <span><%= comment.user.firstname %> <%= comment.user.lastname %></span>
          <span><%= comment.created_at %></span>
        </div>
      </div>
      <p><%= comment.text %></p>
    </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="form">
      <div class="details">
        <%= image_tag current_user.avatar.url(:medium) %>
        <div class="name-date">
          <span><%= current_user.firstname %> <%= current_user.lastname %></span>
          <span>13 juin 2017</span>
        </div>
      </div>
      <%= render "comments/form", :comment => @comment %>
    </div>
    <% end %>
  </div>
</section>
