<p id="notice"><%= notice %></p>

<p>
  <strong>Undefined:</strong>
  <%= @wiki.undefined %>
</p>

<p>
  <strong>Content:</strong>
  <%= @wiki.content %>
</p>

<p>
  <strong>Related issues:</strong><br>
  <% @wiki.issues.each do |issue| %>
    <%= link_to issue.label, issue %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
