<section id="archives" class="show">
  <%= link_to '', issues_path, class: "close" %>
  <h1><%= @archive.issue.label %></h1>
  <div class="informations">
    <ul>
      <li><em>Date : </em><%= @archive.created_at %></li>
      <li><em>Horaire : </em><%= @archive.conf_date %></li>
      <li><em>Lieu : </em><%= @archive.conf_location %></li>
      <li><em>Intervenant : </em><%= @archive.speaker %></li>
    </ul>
  </div>
  <div class="answer">
    <h3>Résumé du débat</h3>
    <%= @archive.resume %>
  </div>
  <div class="wikis">
    <% @archive.issue.wikis.each do |wiki| %>
      <a href="#"><%= wiki.undefined %></a>
    <% end %>
  </div>
  <div class="answer video">
    <h3>Vidéo</h3>
    <iframe src="https://www.youtube.com/embed/<%= @archive.video %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="answer audio">
    <h3>Audio</h3>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= @archive.audio %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
  <div class="answer">
    <h3>Réponse de <%= @archive.issue.user.firstname %> <%= @archive.issue.user.lastname %></h3>
    <%= @archive.issue.description %>
  </div>
  <h3>Commentaires sur la problématique</h3>
  <div id="comments">
    <% @archive.issue.comments.each do |comment| %>
    <div class="comment">
      <div class="details">
        <img src="http://placehold.it/200x200" alt="">
        <div class="name-date">
          <span><%= comment.user.firstname %> <%= comment.user.lastname %></span>
          <span><%= comment.created_at %></span>
        </div>
      </div>
      <p><%= comment.text %></p>
    </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="form">
      <div class="details">
        <%= image_tag current_user.avatar.url(:medium) %>
        <div class="name-date">
          <span><%= current_user.firstname %> <%= current_user.lastname %></span>
          <span>13 juin 2017</span>
        </div>
      </div>
      <%= render "comments/form", :comment => @comment %>
    </div>
    <% end %>
  </div>
</section>
