<!DOCTYPE html>
<html>
  <head>
    <title>Debagora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Palanquin+Dark:400,600" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/partials/header' %>
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
